::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a5d6a7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #81c784;
}